<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.entityadmin">

    <application
        android:name=".EntityAdminApp"
        android:label="@string/app_name"
        android:theme="@style/Theme.EntityAdmin">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SessionListActivity" />
        <activity android:name=".MainActivity" />
    </application>
</manifest>
